{{define "root-body"}}
<div>
  <h1>ADMIN LOGIN PAGE</h1>
  <form action="" method="POST">
    <label>Username</label>
    <input type="text" class="form-control" placeholder="Enter username..."><br>
    <label>Password</label>
    <input type="password" class="form-control" placeholder="Enter password...">
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
{{end}}

{{define "root-script"}}
{{end}}

{{define "root-style"}}
{{end}}
